name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: General Stats
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/github-stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: hmmhmmhm
          base: header, activity, community, repositories
          config_timezone: Asia/Seoul
          config_display: large

      - name: Most Used Languages
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/languages.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: hmmhmmhm
          base: ""
          plugin_languages: yes
          plugin_languages_layout: compact
          plugin_languages_threshold: 2%
          config_timezone: Asia/Seoul
